<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>练习</title>
  <script src="vue.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
  <div id="app">
	 
	  
	 <!-- <div v-if="yes">
	       you see me
	  </div>
	  <div v-else>
	       you don't
	  </div> -->
	  
	  <!-- <template v-if="yes">
	    <h2>Vue</h2>
	    <p>聚慕课1</p>
	    <p>聚慕课2</p>
	  </template> -->
  </div>
  <script type="text/javascript">
    var vm = new Vue({
       el:'#app',
       data:{
       yes:true
       }
    });
  </script>
</body>
</html>




