body{
    margin: 0;
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 155px;
    background-color: #D9A3A3;
  }
main{
    width: 100%;
    height: 70%;
    background-color: #887A7A;
}
footer{
    width: 100%;
    height: 155px;
    background-color: #6F3A3A;
  }