* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    filter: sepia(80%);
    background-color: rgba(0, 0, 0, 0.4);
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    border-bottom: 10px solid rgba(0, 0, 0, 0.199);
    z-index: 10;
}

#mark {
    width: 20%;
    height: 100%;
    background-color: pink;
    opacity: 0.4;
}

#classification_box {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100px;
    height: 50px;
    font-size: 30px;
}
#mark{
    display: flex;
}
.card-region {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: 100px auto;
    overflow: scroll;
    height: 120%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 100px 100px rgba(153, 205, 50, 0.5);
    animation: gif 10s linear infinite alternate;
}

.card {
    margin-top: 20px;
    width: 300px;
    height: 500px;
    background-color: rgba(255, 192, 203, 0.5);
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: shake 5s linear infinite alternate;
}
.card:nth-of-type(2n-1){
    box-shadow: 0 0 50px 50px rgba(255, 255, 0, 0.4);
}
.card:nth-of-type(2n){
    box-shadow: 0 0 50px 50px rgba(255, 153, 0, 0.6);
}
#source{
    width: 200px;
}
@keyframes shake{
    0%{
        transform: translate(-10%,0);
    }
    20%{
        transform: translate(0%,0);
    }
    40%{
        transform: translate(10%,0);
    }
    60%{
        transform: translate(20%,0);
    }
    80%{
        transform: translate(10%,0);
    }
    100%{
        transform: translate(0%,0);
    }
}
.card-region img{
    width: calc((170px)*5);
    height: calc((100px)*5);
    background-size: contain;
    margin: auto;
    opacity: 0.4;
}
.card img{
    filter: sepia(50%);
    width: 300px;
    height: 173px;

}
@keyframes gif {
    0%{
        width: 100px;
    }
    10%{
        width: 150px;
    }
    30%{
        width: 100%;
    }
    100%{
        width: 100%;  
    }
}
.sunny{

}